# Environment Variables

NODE_ENV=development
PORT=3000

# Rate Limit

RATE_LIMIT_REQUEST=10
RATE_LIMIT_DURATION=60

# Redis

REDIS_URL=redis://localhost:6379

# Firebase Service Account
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
