# Ignorar node_modules
node_modules/

# Ignorar o arquivo .env
.env

# Ignorar logs de aplicação
*.log
logs/

# Ignorar arquivos de sistema do OS
.DS_Store
Thumbs.db
# Ignorar arquivos de credenciais do Firebase (Admin SDK)
*-firebase-adminsdk-*.json
